<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
      <strong>Revenge of Idea box</strong>
    </div>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input id="input-field" type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</nav>
